#canvas {
    background-image: url('images/inside-hot.png');
}

#game {
    text-align: left;
}

body {
    background-image: url('images/outside-hot.png');
     
    font-family: 'Bitter', serif;
    font-weight: 700;
}

header {
    display: block;
    position: absolute;
    left: 655px;
    top: 450px;
    align-items: center
}

header img {
    margin-left: -9px;
}

#score, #time {
    font-size: 20px;
}

button {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 20px;
    font-family: 'Bitter', serif;
    color: white;
    background: linear-gradient(to bottom, #28529d, #28529d);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#end {
    width: 340px;
    height: 280px;
    border-radius: 0px;
    color: #28529d;
    background-color: white;
    border: 5px solid #407f1f;
    font-size: 20px;
    position: absolute;
    top: 32%;
    left: 16%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}